set from = "vgusev2007@yandex.ru"
set smtp_url = "smtps://vgusev2007@smtp.yandex.ru:465"
set smtp_pass = "{{ smtp_passwd }}"
set ssl_force_tls = yes
set realname="devops-ovpn-sample"
set content_type="text/html"
