[Unit]
Description=Prometheus alertmanager main server
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_user }}
Type=simple
ExecStart=/usr/local/bin/alertmanager \
    --config.file /etc/prometheus/alertmanager.yml \
    --web.config.file /etc/prometheus/alertmanager_web-config.yml \
    --storage.path /var/lib/prometheus_alertmanager/ 

[Install]
WantedBy=multi-user.target
